.texto
{
 position: absolute;
  top: 8px;
  left: 299px;
  right: 300px;;
 font-size: 18px;
} 

.topo
{
 position: absolute;
  top: 8px;
  width: 29px;
  right: 16px;;
 font-size: 18px;
 height: 1740;
} 

